/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */
/* 
#galleria-loader{height:1px!important}
*/

.galleria-container {
    position: relative;
    overflow: hidden;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 0;
    text-align: left;
    width: 50%;
    bottom: 20rem;
    left: 2em;
    right: 10px;
    overflow: hidden;
}
.galleria-thumbnails-container {
    height: 16rem;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(28,33,35,.85);
    z-index: 2;
}
.galleria-carousel .galleria-thumbnails-list {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
}
.galleria-thumbnails .galleria-image {
    height: 13rem;
    margin: 1em;
    float: left;
    cursor: pointer;
}
.galleria-counter {
    position: absolute;
    bottom: 10px;
    text-align: right;
    color: #fff;
    font: normal 11px/1 arial,sans-serif;
    z-index: 2;
}
.galleria-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(classic-loader.gif) no-repeat 2px 2px;
}
.galleria-info {
    left: 20px;
    display: block;
    position: relative;
    float: left;
    right: 0;
    top: 55%;
    z-index: 1;
}
.galleria-info-text {
    position: relative;
    color: #ccc;
    /* IE7 */ zoom:1;
}
.galleria-info-title {
    font-weight: normal;
    text-align: left;
    margin: 0;
    background-color: rgba(28,33,35,.85);
    padding: 2px 20px 2px 10px;
    font-size: 1rem;
}

.touch .galleria-info-link:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    width: 100%;
    height: 62px;
    left: 0;
}

.galleria-image-nav-left{
}
.galleria-image-nav-left,
.galleria-image-nav-right {
    opacity: .3;
    filter: alpha(opacity=30);
    cursor: pointer;
    width: 62px;
    height: 124px;
    position: absolute;
    left: 10px;
    z-index: 2;
}
.galleria-image-nav-right {
    left: auto;
    right: 10px;
    background-position: -254px 46px;
    z-index: 2;
}
.notouch .galleria-image-nav-left:hover,
.notouch .galleria-image-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.touch .galleria-image-nav-left:active,
.touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3em;
    z-index: 3;
    opacity: .5;
    filter: alpha(opacity=50);
}
.galleria-thumb-nav-right {
    border-right: none;
    right: 0;
    left: auto;
}

.galleria-thumb-nav-right {
    background: url('../images/right-arr.png') no-repeat;
    background-position: 50%;
}


.galleria-thumb-nav-left{
    background: url('../images/left-arr.png') no-repeat;
    background-position: 50%;
}


.galleria-thumbnails-container .disabled {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: default;
}
.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    /* background-color: #111;*/
}
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}

/*
.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
*/

.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left,
.galleria-image-nav-right {
    background-image: url(classic-map.png);
    background-repeat: no-repeat;
}
.galleria-container.videoplay .galleria-info,
.galleria-container.videoplay .galleria-counter{ display:none!important; }


@media only screen and (max-width: 1800px) , only screen and (max-device-width: 1800px) {  
}

@media only screen and (max-width: 1700px) , only screen and (max-device-width: 1700px) {  

    .galleria-stage {
        bottom: 13rem;
        left: 2em;
        right: 10px;
        overflow: hidden;
    }

    .galleria-thumbnails-container {
        height: 12rem;
    }
    .galleria-thumbnails .galleria-image {
        height: 10rem;
    }
}

@media only screen and (max-width: 1600px) , only screen and (max-device-width: 1600px) {  
    .galleria-info {
        left: 2em;
    }
    .galleria-stage {
        left: 2em;
    }
}

@media only screen and (max-width: 1330px) , only screen and (max-device-width: 1330px) {  
    .galleria-stage {
        position: absolute;
        top: 0;
        text-align: left;
        bottom: 13rem;
        right: 10px;
        overflow: hidden;
    }

    .galleria-thumbnails-container {
        height: 12rem;
    }
    .galleria-thumbnails .galleria-image {
        height: 10rem;
    }

}

@media only screen and (max-width: 1280px) , only screen and (max-device-width: 1280px) {  
.galleria-stage {
    width: 50%;
    bottom: 10rem;
    left: 1em;
}

    .galleria-thumbnails-container {
        height: 9rem;
    }
    
    .galleria-thumbnails .galleria-image {
        height: 7rem;
    }
    .galleria-info {
    left: 5%;
    display: block;
    position: relative;
    float: left;
    right: 0;
    top: 50%;
    z-index: 1;
}
.galleria-info-title {
    font-weight: normal;
    text-align: left;
    margin: 0;
    background-color: rgba(28,33,35,.85);
    padding: 1px 1.5em 1px 10px;
    font-size: 0.9rem;
}
}




